#video{
    width:100%;
    height:500px;
    border: none;
}
.travel_mainDiv{
border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width: 100%;
}
.travel_mainDiv h5, .travel_maindiv p{
margin: 20px;
}
.page-header{
    color: rgb(255, 255, 255);
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}
.movie_head i {
    float: right;
}
.achievement1 text span,.achievement2 text span,.achievement3 text span{
    color: orange;
}

